<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projetfilm.appfilm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Film">
        <activity android:name=".controller.AjouterFilmActivity" android:theme="@style/Film.List"/>
        <activity android:name=".controller.ModifierFilmActivity" android:theme="@style/Film.List"/>

        <activity android:name=".controller.AfficherFilmActivity" android:theme="@style/Film.List"/>


        <activity android:name=".controller.ApiActivity" android:theme="@style/Film.List"/>

        <activity
            android:name=".controller.MainActivity"
            android:theme="@style/Film.List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>