<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"  href="../css.css"/>
    <!--<link rel="stylesheet" type="text/css"  href="./css/style.css"/>-->
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:5em;">
            <div class="col-lg-6">
                <img src="../images/logofilm.png" id="logo">
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-success" id="btnAjouter" onclick="afficherAjout()">Ajouter</button>
            </div>
        </div>
        <hr />
        <form action="/ajouterFilm" method="post">
            <div id="ajoutFilm">
                <h2>Ajout de film</h2>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Form pour ajouter film -->
                            <label for="titreAdd">Titre : </label>
                            <input type="text" class="form-control" id="titreAdd" name="titre" placeholder="Titre" required />
                            <br />
                            <label for="producteurAdd">Compagnie : </label>
                            <select class="form-control" id="producteurAdd" name="producteur" required>
                                <option>Century Fox</option>
                                <option>Marvel</option>
                                <option>Paramount Picture</option>
                                <option>Sony</option>
                            </select>
                            <br />
                            <label for="dateAdd">Date de sortie : </label>
                            <input type="date" class="form-control" id="dateAdd" name="date" required/>
                        </div>
                        <div class="col-lg-6">
                            <label for="descriptionAdd">Description : </label>
                            <input type="text" class="form-control" id="descriptionAdd" name="description" placeholder="Description" required/>
                            <br />
                            <label for="prixAdd">Prix par visionnement : </label>
                            <input type="number" class="form-control" id="prixAdd" name="prix" placeholder="Prix" required/>
                            <br />
                            <label for="lienAdd">Lien du poster : </label>
                            <input type="text" class="form-control" id="lienAdd" name="lien" placeholder="https://..." required/>
                        </div>
                        <div class="col-lg-12 text-center">
                            <input type="submit" class="btn btn-primary btnZoneAdd" value="Enregistrer">
                            <button type="button" class="btn btn-danger btnZoneAdd" onclick="cacherAjout()">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <h2 class="titre">Films Marvel :</h2>
        <div class="row">
            <div th:each="filmMarvel : ${listeMarvel}" class="col-md-4">
                <div class="col-lg-12 film">
                    <div class="col-lg-12">
                        <a th:href="@{|/detail-filmMarvel/${filmMarvel.id}|}" >
                            <p th:text= "${filmMarvel.titre}"></p>
                            <img th:src="${filmMarvel.lienImage}"  class="card-img-top poster" />
                        </a>
                    </div>
                    <div class="col-lg-12 zoneBtn">
                        <a th:href="@{|/detail-filmMarvel/${filmMarvel.id}|}">
                            <button type="button" class="btn btn-primary btn">
                                Modifier
                            </button>
                        </a>
                        <a th:href="@{|/supprimer-film/Marvel/${filmMarvel.id}|}">
                            <button type="button" class="btn btn-danger btn">
                                Supprimer
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <h2>Films CenturyFox : </h2>
        <div class="row">
            <div th:each="filmCenturyFox : ${listeCenturyFox}" class="col-md-4">
                <div class="col-lg-12 film">
                    <div class="col-lg-12">
                        <a th:href="@{|/detail-filmCenturyFox/${filmCenturyFox.id}|}" >
                            <p th:text= "${filmCenturyFox.titre}"></p>
                            <img th:src="${filmCenturyFox.lienImage}"  class="card-img-top poster" />
                        </a>
                    </div>
                    <div class="col-lg-12 zoneBtn">
                        <a th:href="@{|/detail-filmCenturyFox/${filmCenturyFox.id}|}">
                            <button type="button" class="btn btn-primary btn">
                                Modifier
                            </button>
                        </a>

                        <a th:href="@{|/supprimer-film/CenturyFox/${filmCenturyFox.id}|}">
                            <button type="button" class="btn btn-danger btn">
                                Supprimer
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <h2>Films Paramount Picture : </h2>
        <div class="row">
            <div th:each="filmParamount : ${listeParamount}" class="col-md-4">
                <div class="col-lg-12 film">
                    <div class="col-lg-12">
                        <a th:href="@{|/detail-filmParamount/${filmParamount.id}|}" >
                            <p th:text= "${filmParamount.titre}"></p>
                            <img th:src="${filmParamount.lienImage}"  class="card-img-top poster" />
                        </a>
                    </div>
                    <div class="col-lg-12 zoneBtn">
                        <a th:href="@{|/detail-filmParamount/${filmParamount.id}|}">
                            <button type="button" class="btn btn-primary btn">
                                Modifier
                            </button>
                        </a>
                        <a th:href="@{|/supprimer-film/ParamountPictures/${filmParamount.id}|}">
                            <button type="button" class="btn btn-danger btn">
                                Supprimer
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h2>Films Sony :</h2>
        <div class="row">
            <div th:each="filmSony : ${listeSony}" class="col-md-4">
                <div class="col-lg-12 film">
                    <div class="col-lg-12">
                        <a th:href="@{|/detail-filmSony/${filmSony.id}|}" >
                            <p th:text= "${filmSony.titre}"></p>
                            <img th:src="${filmSony.lienImage}"  class="card-img-top poster" />
                        </a>
                    </div>
                    <div class="col-lg-12 zoneBtn">
                        <a th:href="@{|/detail-filmSony/${filmSony.id}|}">
                            <button type="button" class="btn btn-primary btn">
                                Modifier
                            </button>
                        </a>
                        <a th:href="@{|/supprimer-film/Sony/${filmSony.id}|}">
                            <button type="button" class="btn btn-danger btn">
                                Supprimer
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <script>
        function afficherAjout() {
            document.getElementById("ajoutFilm").style.display = "block";
            document.getElementById("btnAjouter").style.display = "none";
        }
        function cacherAjout() {
            document.getElementById("ajoutFilm").style.display = "none";
            document.getElementById("titreAdd").value = "";
            document.getElementById("dateAdd").value = "";
            document.getElementById("descriptionAdd").value = "";
            document.getElementById("prixAdd").value = "";
            document.getElementById("btnAjouter").style.display = "block";
        }
    </script>
</body>
</html>