body{
    background-color: #eaebed;
}
/* IDs */
#logo{
    width: 10em;
}
#btnAjouter{
    float: right;
    margin-top: 4em;
}
#ajoutFilm{
    background-color:white;
    padding:1em;
    border-radius: 5px;
    box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.75);
    margin-bottom:1em; display: none;
}
/* Classes */
.poster{
    max-width: 17em;
    min-height: 25em;
    max-height: 25em;
    transition:0.4s;
}
.poster:hover{
    max-width: 17.5em;
    min-height: 25.5em;
    opacity: 0.6;
    margin-bottom: -0.5em;
}

.film{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 1em;
    box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.75);
}
.zoneBtn{
    margin-top:2em;
}
.btnZoneAdd{
    margin-top:0.5em;
}
.btn{
    width: 8em;
}
